<h2>Контакты</h2>
<p>На этой странице вы сможете отправить письмо</p>

<form action="/contacts" method="POST">
  <div class="form-group">
    <label>Введите адрес электронной почты для обратной связи:</label>
    <input name="contact[email]" type="email" class="form-control" placeholder="Ваша@почта" value="">
  </div>
  <div class="form-group">
    <label>Ваш текст сообщения:</label>
    <textarea class="form-control" name="contact[content]" value=""></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Отправить!</button>
</form>