<h2>Список записавшихся</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Имя</th>
			<th>Дата визита</th>
		</tr>
	</thead>
	<tbody>
	<% @clients.each do |client| %>
		<tr>
			<th scope="row"><%= client.id %></th>
			<td> <a href="/visitor/<%= client.id %>"><%= client.name_user %></a></td>
			<td><%= client.datestamp_visit %></td>
		</tr>
		<% end %>
	</tbody>
</table>